body{
    padding-right: 5%;
    padding-left:5%;
    width: 90%;
    background-color:#dcedf5;
}
.good{
    color: green;
}
.bad{
    color: red;
}
.farmer{
    color: darkgoldenrod;
}
.village{
    color: darkviolet;
}