body{
    padding-right: 5%;
    padding-left:5%;
    width: 90%;
    background-color:#dcedf5;
}
.good{
    color: green;
    text-transform: capitalize;
}
.bad{
    color: red;
    text-transform: capitalize;
}
.farmer{
    color: darkgoldenrod;
}
.village{
    color: darkviolet;
}
header :last-child{
    background-color: yellow;
}
header p{
    width: 20%;
    text-align: center;
}
#first{
    font-weight: bold;
}
.grey{
    background-color:lightgrey;
}
table{
    border: solid;
    border-radius: 5px;
}